.MenuToggle {
    position: fixed;
    top: 40px;
    left: 40px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    z-index: 100;
    transition: left .2s ease-in;
}

.MenuToggle:hover {
    opacity: 70%;
}

.MenuToggle.open {
    left: 320px;
}